WEBHOOK_URL=https://localhost:7239/api/Webhook
WEBHOOK_SECRET_KEY=NnUEQuoGUUpRJh2EBV1nwBvGAfnogmwiuSsr783pkrs

NEXT_PUBLIC_DIDIT_CLIENT_ID=XKsmWriP3FeAKgkOfZu3OQ
CLIENT_SECRET=bOjqBJMhB8wsqyF2INq26OMs7mteRtr3kzVug2v5xKw
NEXT_VERIFICATION_BASE_URL=https://verification.didit.me
NEXT_PUBLIC_API_URL=https://apx.didit.me
VERIFICATION_FEATURES=OCR + FACE
VERIFICATION_CALLBACK_URL="diditproject://welcome"